.jumbotron{
    background-color: navy;
}
.display-4{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-weight: bold;
}

.searchButton{
    background-color: orangered;
    color:antiquewhite;
    margin: 20px;
}